main{
    width: 100%;
    height: calc(100vh - 4rem);

    .input-container{
        padding: 3rem;
        border-radius: 15px;
        cursor: pointer;
        border: 2px solid white;

        &:hover{
            background-color: rgba(255, 255, 255, 0.1);
        }

        input{
            display: none;
        }
    }
    .content{
        flex-direction: column;
        gap: 2rem;
    }
}